<% provide(:title, "About") %>
<div class="row">
	<div class="col-sm-8 col-sm-offset-2 well about">
			<h2>Private Events</h2>
			<p>Private Events is a site inspired by <a href="https://www.eventbrite.co.uk/">Eventbrite.</a> Users can sign up, create events and attend events created by other users. There is also edit and delete functionailty for user created events.</p>
			<p>This site is built with Ruby on Rails and Bootstrap. The Icons are from fontawesome and the theme is a modfied version of the Flaty theme for bootstrap.</p>

			<p>If you want to get in touch please use one of the links to my social media and github accounts in the footer. Thanks for visiting my site,</p>
			<p>Kevin Mulhern</p>
		
	</div>
</div>

