	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<div class="focus-container">
			<div class="blur"></div>
			<div class="focus-box">
				<% if signed_in? %>
					<h1>Create an Event</h1>
					<%= link_to "Create Event", '#', class: "btn btn-lg btn-success" %>
				<% else %>
					<h1>Sign up</h1>
					<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-success" %>
				<% end %>
			</div>
			</div>
		</div>
	</div>