<% if object.errors.any? %>
	<div id="error_explanation">
		<%= flash.now[:alert] = "Form has errors" %>
		<ul>
			<% object.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>