<%= link_to "Upcoming Events", events_path(:upcoming => true) %>
<%= link_to "Past Events", events_path(:past => true) %>


<p><%= request.fullpath %></p>


<div class="event-index row">
	<div class="col-sm-6 col-sm-offset-3">
	<%= render 'events/event_box' %>
	</div>
</div>



	
