<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<div class="show-event">
			<div class="event-heading">
				<h4><%= @event.title.capitalize %></h4>
			</div>
			<div class="event-content">
				<p><%= @event.description %></p>
				<ul>
					<li>
						<i class="icon fa fa-map-marker"></i><span><%= @event.location %></span>
					</li>
					<li>
						<i class="icon fa fa-calendar-o"></i><span><%= "#{format_date(@event.eventDate)} at #{format_time(@event.startTime)}"%> </span>
					</li>
				</ul>
			</div>
			</div>
		</div>
	</div>
</div>