
/*================
  	universal 
================ */

* {
	box-sizng: border-box;	
}

body{
	background-color: #f5f8fa;
}

h1,h2,h3,h5,h6{
	text-align: center;
}

.fluid-container{
	position: relative;
	height: 100%;
}

.fluid-container .row:first-child{
	margin-right: 0;
}



/* ================
      header
================*/

.navbar {
	border-radius: 0;
	margin-bottom: 0;
}

#logo{
	float: left;
	font-size: 2em;
	padding: 7px 0 10px 10px;
	text-decoration: none;
	color: #fff;
}

nav ul{
	padding: 10px;
	padding-right: 30px;
}

nav ul li a{
	color: #fff;
	font-size: 16px;
	&:hover{
		color: #000;
	}
}

.fa-home:before, .fa-list-alt:before, .fa-info:before, .fa-user:before, .fa-sign-in:before, .fa-plus:before{
	padding-right: 4px;
}


/*================
     Home page 
================*/

body, html, .home{
	height: 100%;
	margin-right: 0px;
}

.home {
	position: relative;
}

 .home, .blur{
	background: image-url('background_image.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
}

.focus-container{
	position: relative;
}

.blur{
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-position: center;
	z-index: 99;
	-webkit-filter: blur(10px);
}


.focus-box{
	position: relative;
	border-radius: 10px;
	height: 10%;
	text-align: center;
	padding: 40px;
	background: rgba(34,34,34,0.75);
	margin-top: 30%;
	z-index: 100;

}

.focus-box h1{
	padding-bottom: 30px;
	color: white;
}


/*==============
    footer 
==============*/

.fluid-container, body, html{
	height: 100%;
	min-height: 100%;
}


footer{
    height: auto;
    width: 100%;
    background-color: #2A2C2B;
    color: #fff;
     clear: both;
    position: relative;
    z-index: 10;
    margin-top: -3em;
}

.contact{
	line-height: 25px;

}

.contact ul li i{
	color: #74CDE8;
}

.contact ul{
	list-style-type: none;
	padding-left: 0;
	

}

.contact ul li{
	color: #fff;
	display: inline-block;
	font-size: 24px;
	padding-right: 10px;
	
}

.contact h4{
	font-size: 16px;
}

.copy{
	padding-top: 50px;
}


/*=============
    forms 
=============*/

#error_explanation {
	color: red;
	ul {
		color: red;
		margin: 0 0 30px 0;
	}
}

.well{
	padding: 10px 30px 20px;
	margin-top: 100px;
	margin-bottom: 100px;
}

.form-control{
	margin-bottom: 20px;
}

.well h2{
	padding-bottom: 20px;
}

input[type="checkbox"]{
	margin: 0 5px 20px 3px;
}

.form-link{
	width: 300px;
	display: block;
	text-align: center;
	margin: 0 auto;
}


/*===================
  flash messages
====================*/

.alert{
	position: absolute;
	top: 5px;
	left: 5px;
	width: 300px;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

/*================
    edit user
================*/
 .well h4{
 	text-align: center;
 }

.main-header{
	border-bottom:1px solid #e1e8ed;
}

.change-password{
	border-bottom: 1px solid #e1e8ed;
	padding-bottom: 2%;
}

.danger-zone{
	border-bottom: 1px solid #e1e8ed;
	padding-bottom: 2%;
}

.btn-danger{
margin-top: 10px;
	display: block;
}

.save-setting{
	margin-top: 2%;
	margin-bottom: 5%;
}


/*======================
   create event page
======================*/
.create-bottom{
	margin-top: 20px;
	border-top: 1px solid #e1e8ed;
}

.create-bottom .col-sm-4{
	padding-top: 30px;
}
.create-button{
	vertical-align: middle;
}

/*=============
  event index 
=============*/

.event-index{
	margin-top: 20px;
}


.event-box{
	background-color: #fff;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 1px solid #e1e8ed;
	padding: 10px;
}

.event-heading{
	border-bottom: 1px solid #e1e8ed;
	text-align: left;
	padding-left: 0.5em;
}

.event-content{
	padding: 0.5em;
}

.event-content p{
	color: #999;
}

.event-content h5{
	text-align: left;
	font-weight: bold;
}

.icon {
	padding-right: 5px;
}

.event-content ul{
	list-style-type: none;
	padding-left: 0;
}

.event-content ul li i{
	padding-bottom: 0.8em;
	
}

.filter{
	margin-top: 40px;
	margin-right: 15px;
}

.btn-group a:first-child {
	border-right: 1px solid #000;
	
}

.event-index {
	margin-right: 0;
}



/*===================
   show event page
====================*/
.show-event{
	margin-top: 60px;
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #e1e8ed;
	padding: 10px;

}

.attend-box{
	margin-top: 60px;
	background-color: #fff;
	padding: 20px 15px 20px 15px;
	border-radius: 5px;
	border: 1px solid #e1e8ed;
}

.attend-box input{
	margin: 0;
}

.attending-head{
	border-bottom: 1px solid #e1e8ed;
	line-height: 1.5em;
	font-style: bold;
}

.attending-head i{
	padding-right: 10px;
	font-size: 0.8em;
}

.btn-primary{
	display: block;
}

.guest-list{
	font-size: 16px;
	list-style-type: circle;
}

.event-over{
	color: red;
}



/*===============
      my events 
=================*/

.my-events-filter a:nth-child(2){
	border-right: 1px solid #000;
}

/*=====================
      About Page
======================*/

.about p{
	font-size: 1.2em;
}














