<footer>
<div class="container">
	<div class="row">
		<div class="col-sm-2">
			<div class="contact">
				<h4> Contact me:</h4>
					<ul>
						<li><%= link_to '<i class="fa fa-twitter-square"></i>'.html_safe, "https://twitter.com/KevinMulhern_" %></li>
						<li><%= link_to '<i class="fa fa-github-square"></i>'.html_safe, "https://github.com/KevinMulhern" %></li>
						<li><%= link_to '<i class="fa fa-google-plus-square"></i>'.html_safe, "https://plus.google.com/u/0/117292792956325511569/posts" %></li>
					</ul>
			</div>
		</div>
		<div class="col-sm-3 col-sm-offset-3">
				<p class="copy">Kevin Mulhern &copy; 2015</p>
		</div>
	</div>
</div>
</footer>